.noteCard {
    background-color: #fff;
    color: #333;
    border-style: solid;
    border-radius: 15px;
    border-color: black;
    width: 200px;
    padding: 20px 20px 20px 20px;
    margin: 20px 20px 20px 20px;
    position: relative;
}

.cardName {
    font-size: 20px;
    margin: 0px 0px 10px;
}

.cardPath {
    font-size: 12px;
    margin: 0px 0px 20px;
}

.cardText {
    font-size: 16px;
}

.cardListBody {
    height: 100%;
    width: 100%;
    border-style: solid;
}

/* .noteHeader {
    background: #3d7144;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0.2rem calc((100vw - 1000px) / 2);
    z-index: 12;
    justify-content: flex-start;
} */

.noteHeader {
    background: #CADBC0;
    height: 45px;
    display: flex;
    justify-content: space-between;
    padding: 0.2rem calc((100vw - 1000px) / 2);
    border: none
}

.newNoteButton {
    height: 25px;
    margin-top: 23px;
    position: absolute;
}

.notesHeader {
    height: 18px;
    margin: 0px;
}

.nav {
    background: #083D77;
    height: 85px;
    display: flex;
    justify-content: space-between;
    padding: 0.2rem calc((100vw - 1000px) / 2);
    z-index: 12;
}